<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Entre em contato</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-networking">
                    <li>
                        <a href="https://github.com/GiovannaTorres" target="_blank" class="iconGit text-white">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/giovanna-torres-051b59212/" target="_blank" class="iconLinked text-white">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-1">
        <span class="text-light"> © 2021 Copyright: Giovanna Torres</span>
    </div>
</footer>