.fs-16 {
    font-size: 16pt;
}

a {
    cursor: pointer;
}

.navbar {
    background-color: var(--color-one);
}


.navbar-nav li a{
    text-decoration: none;
    color: white;
}

.navbar-nav li a:hover{
    color: var(--color-three);
    transition: 0.1s;
}