#img-bg-cadastrar{
    background-image: url('../../../assets/img/photo-cloud-grey-blue.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#btn-cancelar{
    background-color: #A4ABA5;
}

#btn-cancelar:hover{
    background-color: #888d89;
    transition: 0.3s;
}

#btn-cadastrar{
    background-color: var(--colour-five);
}

#btn-cadastrar:hover{
    background-color: #78be98;
    transition: 0.3s;
}

#titulo-cadastrar{
    font-size: 45px;
    color: var(--color-one);
}

.form-group{
    color: #738896;
}