<div class="container-fluid">
    <div class="row d-flex align-items-center">

        <div class="col-md-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 id="titulo-entrar" class="text-end mb-5">login.</h1>

                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input [(ngModel)]='userLogin.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input [(ngModel)]='userLogin.senha' class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>
                    
                    <div class="d-flex justify-content-end mt-3">
                        <button (click)='entrar()' type="submit" id="btn-entrar" class="btn">Entrar</button>
                    </div>

                    <hr class="mb-5 mt-5">
                    <small class="form-text text-muted text-center">
                        Não tem uma conta? <a routerLink='/cadastrar'>Cadastre-se</a>
                    </small>

                </div>
            </div>
        </div>

        <div class="col-md-7" id="img-bg-entrar"></div>

    </div>
</div>
